.navbar {
	margin-bottom: 0;
	border-bottom: 1px solid
		rgba(255, 255, 255, 0.3);

	font-family: 'Red Hat Display',
		'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	background-color: #ffffff;
}

@media (min-width: 1440px) {
	.container-fluid {
		padding: 0px;
	}
}

.navbar a {
	padding: 5px;
}

.navbar a:hover {
	background: none;
}
a.navbar-brand {
	line-height: 28px;
	font-weight: 400;
	padding: 5px 0px;
}
.navbar-brand:focus {
	outline: none;
}
.navbar-brand span {
	font-weight: 700;
}

.navbar-custom
	.nav
	.page-scroll
	a.active
	.navbar-item {
	transition: all 10ms linear;
	background-color: #000;
}

.navbar-custom
	.nav
	.page-scroll
	a.active {
	transition: all 10ms linear;
	color: #fff;
}

.navbar-custom
	.nav
	.page-scroll
	a
	.navbar-item {
	padding: 12px 8px;
	background-color: transparent;
}

.navbar-custom .nav li a {
	color: #67184f;
	font-weight: 600;
	font-size: 16px;
	background-color: transparent;
}

@media (min-width: 767px) {
	.navbar {
		padding: 10px 32px;
		border-bottom: none;
		letter-spacing: 1px;
		background: rgba(255, 255, 255);
	}

	ul.navbar-nav {
		column-gap: 40px;
	}
	.navbar-custom .nav li a {
		text-decoration: none;
	}

	.navbar-custom
		.nav
		.page-scroll
		a:hover {
		transition: all 50ms linear;
		color: #fff;
	}

	.navbar-custom
		.nav
		.page-scroll
		a:hover
		.navbar-item {
		transition: all 100ms linear;
		transition-delay: 5ms;
		background-color: #000;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar {
		min-height: 80px;
	}
}

@media (min-width: 992px) {
	.navbar {
		min-height: 60px;
	}
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 424px) {
	.navbar-brand {
		font-size: 94%;
	}
}

@media (max-width: 991px) {
	.navbar-header {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 11px 0px;
	}

	.navbar-toggler {
		border: none;
	}
	.navbar-toggler:focus {
		outline: 2px solid #67184f;
		box-shadow: none;
	}

	button:focus:not(:focus-visible) {
		outline: 2px solid #67184f;
	}

	.navbar-toggler-icon {
		background-image: url(../asset/icons/menu.svg);
	}

	.navbar-collapse.show ul.nav {
		margin-bottom: 30px;
	}

	ul.nav {
		row-gap: 25px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	ul {
		row-gap: 15px;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.navbar {
		padding: 10px;
	}

	ul.navbar-nav {
		column-gap: 0px;
		flex-wrap: nowrap;
	}

	.navbar-custom .nav li a {
		font-size: 14px;
	}
}

/* LAPTOP */
@media (min-width: 991px) and (max-width: 1439px) {
	.navbar {
		padding: 10px;
	}

	ul.navbar-nav {
		column-gap: 0px;
		flex-wrap: nowrap;
	}

	.navbar-custom .nav li a {
		font-size: 14px;
	}
}
